@use 'base/variables' as vs;
@use 'base/mixins' as ms;

.lineup{
    background-color: vs.$pink;
    padding: 5rem 0;

    h3, p{
        text-align: center;
        color: vs.$white;
    }
}

.day {
    text-transform: uppercase;
    margin: 5rem 0;
}

.stages-container{
    @include ms.tablet {
        @include ms.grid(2, 5rem)
    }

    p {
        color: vs.$black;
    }

    .stage{
        padding-top: 2rem;
    }
}

.stage{
    padding-top: 2rem;

    .stage-name{
        &:after{
            content:'';
            display: block;
            width: 20rem;
            height: 10rem;
            background-size: 15rem;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 2rem auto 0 auto;
        }
    }
}

.rock .stage-name:after{
    background-image: url(../img/icono_rock.png);
}

.edm .stage-name:after{
    background-image: url(../img/icono_edm.png);
}

.schedule{
    @include ms.reset-list;

    li{
        padding: 2.5rem;
        font-weight: 700;

        span{
            font-weight: 400;
        }
    }
}

.bg-yellow{
    background-color: vs.$yellow;

    li:nth-child(odd){
        background-color: darken(vs.$yellow, 30%);
    }
}

.bg-green{
    background-color: vs.$turquoise;

    li:nth-child(odd){
        background-color: darken(vs.$turquoise, 15%);
    }
}